--
-- PostgreSQL database dump
--

\restrict JOLSbC8wFbrJ80wGT9tkYxBReWKKEhiBxa49YEe25rPvYOD102eG73vvkaX67c9

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hstore; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS hstore WITH SCHEMA public;


--
-- Name: EXTENSION hstore; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION hstore IS 'data type for storing sets of (key, value) pairs';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: job_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_info (
    id bigint NOT NULL,
    job_name character varying(255),
    company_name character varying(255),
    city character varying(64),
    job_url text,
    salary_min integer,
    salary_max integer,
    salary_avg numeric(10,2),
    experience character varying(64),
    education character varying(64),
    job_desc text,
    job_keywords text,
    company_size character varying(128),
    company_industry character varying(255),
    company_welfare text,
    publish_date date,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.job_info OWNER TO postgres;

--
-- Name: job_info_51job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_info_51job (
    id bigint NOT NULL,
    job_name character varying(255),
    company_name character varying(255),
    city character varying(64),
    job_url text,
    salary_min integer,
    salary_max integer,
    salary_avg numeric(10,2),
    experience character varying(64),
    education character varying(64),
    job_desc text,
    job_keywords text,
    company_size character varying(128),
    company_industry character varying(255),
    company_welfare text,
    publish_date date,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.job_info_51job OWNER TO postgres;

--
-- Name: job_info_51job_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_info_51job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_info_51job_id_seq OWNER TO postgres;

--
-- Name: job_info_51job_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_info_51job_id_seq OWNED BY public.job_info_51job.id;


--
-- Name: job_info_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_info_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_info_id_seq OWNER TO postgres;

--
-- Name: job_info_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_info_id_seq OWNED BY public.job_info.id;


--
-- Name: user_favorite_job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_favorite_job (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    source_table character varying(64),
    job_id bigint,
    job_url text,
    job_name character varying(255),
    company_name character varying(255),
    city character varying(64),
    salary_min integer,
    salary_max integer,
    experience character varying(64),
    education character varying(64),
    job_json text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_favorite_job OWNER TO postgres;

--
-- Name: user_favorite_job_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_favorite_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_favorite_job_id_seq OWNER TO postgres;

--
-- Name: user_favorite_job_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_favorite_job_id_seq OWNED BY public.user_favorite_job.id;


--
-- Name: user_job_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_job_history (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    source_table character varying(64),
    job_url text,
    job_name character varying(255),
    company_name character varying(255),
    city character varying(64),
    salary_min integer,
    salary_max integer,
    experience character varying(64),
    education character varying(64),
    job_json text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_job_history OWNER TO postgres;

--
-- Name: user_job_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_job_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_job_history_id_seq OWNER TO postgres;

--
-- Name: user_job_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_job_history_id_seq OWNED BY public.user_job_history.id;


--
-- Name: user_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profile (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    profile_json text,
    resume_meta_json text,
    profile_extra_json text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_profile OWNER TO postgres;

--
-- Name: user_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_profile_id_seq OWNER TO postgres;

--
-- Name: user_profile_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_profile_id_seq OWNED BY public.user_profile.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(64) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(32) DEFAULT 'user'::character varying NOT NULL,
    create_time timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vector_store; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vector_store (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    content text,
    metadata json,
    embedding public.vector(1024)
);


ALTER TABLE public.vector_store OWNER TO postgres;

--
-- Name: job_info id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_info ALTER COLUMN id SET DEFAULT nextval('public.job_info_id_seq'::regclass);


--
-- Name: job_info_51job id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_info_51job ALTER COLUMN id SET DEFAULT nextval('public.job_info_51job_id_seq'::regclass);


--
-- Name: user_favorite_job id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_favorite_job ALTER COLUMN id SET DEFAULT nextval('public.user_favorite_job_id_seq'::regclass);


--
-- Name: user_job_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_job_history ALTER COLUMN id SET DEFAULT nextval('public.user_job_history_id_seq'::regclass);


--
-- Name: user_profile id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profile ALTER COLUMN id SET DEFAULT nextval('public.user_profile_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: job_info_51job job_info_51job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_info_51job
    ADD CONSTRAINT job_info_51job_pkey PRIMARY KEY (id);


--
-- Name: job_info job_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_info
    ADD CONSTRAINT job_info_pkey PRIMARY KEY (id);


--
-- Name: user_favorite_job user_favorite_job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_favorite_job
    ADD CONSTRAINT user_favorite_job_pkey PRIMARY KEY (id);


--
-- Name: user_job_history user_job_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_job_history
    ADD CONSTRAINT user_job_history_pkey PRIMARY KEY (id);


--
-- Name: user_profile user_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profile
    ADD CONSTRAINT user_profile_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vector_store vector_store_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vector_store
    ADD CONSTRAINT vector_store_pkey PRIMARY KEY (id);


--
-- Name: idx_fav_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fav_user_id ON public.user_favorite_job USING btree (user_id);


--
-- Name: idx_job_51_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_51_city ON public.job_info_51job USING btree (city);


--
-- Name: idx_job_51_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_51_created_at ON public.job_info_51job USING btree (created_at);


--
-- Name: idx_job_hist_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_hist_user_id ON public.user_job_history USING btree (user_id);


--
-- Name: idx_job_info_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_info_city ON public.job_info USING btree (city);


--
-- Name: idx_job_info_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_info_created_at ON public.job_info USING btree (created_at);


--
-- Name: uk_fav_user_source_url; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uk_fav_user_source_url ON public.user_favorite_job USING btree (user_id, source_table, job_url);


--
-- Name: uk_user_profile_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uk_user_profile_user_id ON public.user_profile USING btree (user_id);


--
-- Name: uk_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uk_users_username ON public.users USING btree (username);


--
-- Name: vector_store_embedding_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vector_store_embedding_idx ON public.vector_store USING hnsw (embedding public.vector_cosine_ops);


--
-- PostgreSQL database dump complete
--

\unrestrict JOLSbC8wFbrJ80wGT9tkYxBReWKKEhiBxa49YEe25rPvYOD102eG73vvkaX67c9

